In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [2]:
! pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.7/site-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/conda/lib/python3.7/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/lib/python3.7/site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.17.3 in /opt/conda/lib/python3.7/site-packages (from pandas) (1.20.3)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [3]:
import numpy as np
import pandas as pd

In [4]:
user_data={
    "marksA":np.random.randint(1,100,5),
    "marksB":np.random.randint(1,100,5),
    "marksC":np.random.randint(1,100,5),
}

In [5]:
np.random.randint(1,100,5)

array([96, 41, 62, 36, 73])

In [6]:
user_data

{'marksA': array([19, 25, 73, 66, 45]),
 'marksB': array([41,  3, 19, 66,  1]),
 'marksC': array([42, 97, 10, 54, 95])}

In [7]:
df=pd.DataFrame(user_data,dtype='float32')

In [8]:
df

   marksA  marksB  marksC
0    19.0    41.0    42.0
1    25.0     3.0    97.0
2    73.0    19.0    10.0
3    66.0    66.0    54.0
4    45.0     1.0    95.0

In [9]:
df.head(n=3)

   marksA  marksB  marksC
0    19.0    41.0    42.0
1    25.0     3.0    97.0
2    73.0    19.0    10.0

In [10]:
df.columns

Index(['marksA', 'marksB', 'marksC'], dtype='object')

In [11]:
df.to_csv("marks.csv")

In [12]:
mydata=pd.read_csv("marks.csv")
mydata=mydata.drop(columns=["Unnamed: 0"])

In [13]:
mydata

   marksA  marksB  marksC
0    19.0    41.0    42.0
1    25.0     3.0    97.0
2    73.0    19.0    10.0
3    66.0    66.0    54.0
4    45.0     1.0    95.0

In [14]:
mydata.describe()

          marksA     marksB     marksC
count   5.000000   5.000000   5.000000
mean   45.600000  26.000000  59.600000
std    23.974987  27.513633  36.922893
min    19.000000   1.000000  10.000000
25%    25.000000   3.000000  42.000000
50%    45.000000  19.000000  54.000000
75%    66.000000  41.000000  95.000000
max    73.000000  66.000000  97.000000

In [15]:
mydata.tail(n=3)

   marksA  marksB  marksC
2    73.0    19.0    10.0
3    66.0    66.0    54.0
4    45.0     1.0    95.0

In [16]:
#row
df.iloc[3]

marksA    66.0
marksB    66.0
marksC    54.0
Name: 3, dtype: float32

In [17]:
# row and col
df.iloc[3,1]

66.0

In [18]:
df.iloc[3][1]

66.0

In [19]:
idx=df.columns.get_loc('marksB')
print(idx)
df.iloc[3,idx]

1

66.0

In [20]:
idx=[df.columns.get_loc('marksB'),df.columns.get_loc('marksC')]

In [21]:
df.iloc[:3,idx]

   marksB  marksC
0    41.0    42.0
1     3.0    97.0
2    19.0    10.0

In [22]:
df.iloc[:3,[1,2]]

   marksB  marksC
0    41.0    42.0
1     3.0    97.0
2    19.0    10.0

In [23]:
#sort
mydata

   marksA  marksB  marksC
0    19.0    41.0    42.0
1    25.0     3.0    97.0
2    73.0    19.0    10.0
3    66.0    66.0    54.0
4    45.0     1.0    95.0

In [24]:
mydata.sort_values(by=["marksA"],ascending=True)

   marksA  marksB  marksC
0    19.0    41.0    42.0
1    25.0     3.0    97.0
4    45.0     1.0    95.0
3    66.0    66.0    54.0
2    73.0    19.0    10.0

In [25]:
data_array=mydata.values
print(type(data_array),data_array.shape)

<class 'numpy.ndarray'> (5, 3)

In [26]:
data_array[2][2
             ]

10.0

In [27]:
#numpy aarrays back in dataframe
new_df=pd.DataFrame(data_array,dtype='int32',columns=["phy","chem","math"])

In [28]:
new_df

   phy  chem  math
0   19    41    42
1   25     3    97
2   73    19    10
3   66    66    54
4   45     1    95

In [29]:
new_df.to_csv("new.csv",index=False)

In [30]:
pcm=pd.read_csv("new.csv")

In [31]:
pcm

   phy  chem  math
0   19    41    42
1   25     3    97
2   73    19    10
3   66    66    54
4   45     1    95